<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>zeppelin: home</title>

		<link rel="stylesheet" href="/css/bootstrap.css" />
		<style>
			body {padding-top:60px; padding-bottom:40px}
		</style>
		<link rel="stylesheet" href="/css/bootstrap-responsive.css" />
		<link rel="stylesheet" href="/css/font-awesome.css">
		<script src="/js/jquery.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/home">zeppelin</a>
					<div class="navbar-text pull-right">
						<div class="btn-group">
							<a class="btn dropdown-toggle" data-toggle="dropdown" data-toggle="#settingsMenu" href="#">
								<i class="icon-plane"></i> Drone
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" id="settingsMenu" role="menu" aria-labelledby="dropdownMenu">
								<li><a  href="#"><i class="icon-cog"></i> Settings</a></li>
								<li class="divider"></li>
								<li><a tabindex="-1" href="/logout"><i class="icon-backward"></i> Logout</a></li>
							</ul>
						</div>
					</div>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active"><a href="/home">Home</a></li>
							<li><a href="/autopilot">Autopilot</a></li>
							<li><a href="/system">System</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		
			<div class="span9">
				
				<div id="flightView">
					<div class="tabbable tabs-left">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#frontCamera" data-toggle="tab">Front Camera</a></li>
							<li><a href="#groundCamera" data-toggle="tab">Ground Camera</a></li>
							<li><a href="#gpsView" data-toggle="tab">GPS Map</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="frontCamera">
								<img src="http://placehold.it/1280x720" />
								<a href="#" class="pull-right"><i class="icon-camera-retro"></i> Capture Image</a>
							</div>
							<div class="tab-pane" id="groundCamera">
								<img src="http://placehold.it/1280x720" />
								<a href="#" class="pull-right"><i class="icon-camera-retro"></i> Capture Image</a>
							</div>
							<div class="tab-pane" id="gpsView">
								<iframe height="450" class="span7" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=663+Totty+Cove,+Collierville,+TN&amp;aq=0&amp;oq=663+totty+cove&amp;sll=38.804821,-77.236966&amp;sspn=2.251598,4.927368&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=663+Totty+Cove,+Collierville,+Shelby,+Tennessee+38017&amp;ll=35.086239,-89.684201&amp;spn=0.009236,0.019248&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span3" id="controlBox">
				<table class="table">
					<thead>
						<tr>
							<th>Pitch</th>
							<td>0</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Yaw</th>
							<td>0</td>
						</tr>
						<tr>
							<th>Roll</th>
							<td>0</td>
						</tr>
						<tr>
							<th>Altitude</th>
							<td>0</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th>Speed</th>
							<td>0</td>
						</tr>
					</tfoot>
				</table>
				<p><i class="icon-bolt"></i> Battery <b class="pull-right">75%</b></p>
				<div class="progress">
  					<div class="bar bar-danger" style="width: 33.3%;"></div>
  					<div class="bar bar-warning" style="width: 33.3%;"></div>
  					<div class="bar bar-success" style="width: 11%;"></div>
				</div>
				<label class="checkbox" id="toggleAutopilot"><input type="checkbox" /> Autopilot Engage</label>
				<div>
					<a class="btn btn-success btn-block">Take Off</a>
					<a class="btn btn-warning btn-block">Land</a>
					<a class="btn btn-danger btn-block">Emergency Stop</a>
				</div>
				<br />
				<div>
					<p><i class="icon-plane"></i> Location Presets</p>
					<ol>
						<li><a href="#">Home</a></li>
					</ol>
				</div>
				</div>
			</div>
	
		<script src="/js/bootstrap-tab.js"></script>
		<script src="/js/bootstrap-button.js"></script>
	</body>
</html>